spring:
  datasource:
    url: jdbc:mysql://localhost:3306/monsters?useSSL=false&serverTimezone=Asia/Taipei
    username: root
    password: czb96800528
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: true
    show-sql: false
    generate-ddl: false
    hibernate:
      dialect: org.hibernate.dialect.MySQLDialect
      ddl-auto: none
    properties:
      hibernate:
        dialect: ${spring.jpa.database-platform}
        hbm2ddl:
          auto: ${spring.jpa.hibernate.ddl-auto}
        show_sql: ${spring.jpa.show-sql}
        format_sql: ${spring.jpa.show-sql}
server:
  port: 8080
  delegate-port: 8080
  servlet:
    encoding:
      charset: UTF-8
  cores:
    origins: http://localhost:8080
    http-methods:
      - 'GET'
      - 'POST'
      - 'PUT'
      - 'PATCH'
      - 'DELETE'
      - 'OPTIONS'
    http-headers:
      - '*'
    export-http-headers:
      - 'X-Auth-Token'
